<template>
	<div class="home">
		<div class="container">
			<div class="row">
				<div class="col">
					<h5>Picture of product nutrition table</h5>
					<hr>
					<input type="file"  @change="upload($event)" id="file-input">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col">
					<h5>Facts:</h5>
					<hr>
					<div class="input-group mb-3">
				        <div class="input-group-prepend">
				            <span class="input-group-text">Each</span>
				        </div>
				        <input type="number" class="form-control" v-model="productWeightFact">
				        <div class="input-group-append">
				            <span class="input-group-text">grams of this product</span>
				        </div>
				    </div>
				    <div class="input-group mb-3">
				        <div class="input-group-prepend">
				            <span class="input-group-text">contains: </span>
				        </div>
				        <input type="number" class="form-control" v-model="sugarQuantity">
				        <div class="input-group-append">
				            <span class="input-group-text">grams sugar.</span>
				        </div>
				    </div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col">
					<div class="input-group mb-3">
				            <span class="input-group-text">Based on the facts above, </span>
				        <input type="number" class="form-control" v-model="newProductWeight">
				        <div class="input-group-append">
				            <span class="input-group-text">grams</span>
				        </div>
				    </div>
				    <div class="input-group mb-3">
				        <div class="input-group-prepend">
				            <span class="input-group-text">of this product is going to have:</span>
				        </div>
				    </div>
				    <div style="width: 100%" class="text-right">
				    	<button type="button" class="btn btn-success" @click="calculate()">Submit</button>
				    </div>
				    <hr>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<span v-if="!loading" style="font-size: 5em">{{answer+" g"}}</span>
					<div v-else="loading" style="width: 5em; height: 5em;" class="spinner-border"></div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col text-center">
					<save-component
						:answer="answer"
						:productWeightFact="productWeightFact"
						:sugarQuantity="sugarQuantity"
						:newProductWeight="newProductWeight">
					</save-component>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
// @ is an alias to /src
import SaveComponent from '@/components/SaveComponent.vue'
import Tesseract  from 'tesseract.js';
import text from '../assets/tesseractcroped.jpg'
import OcrSpaceApi from 'ocr-space-api';

export default {
	name: 'home',
	components: {
		'save-component': SaveComponent,
		Tesseract,
		OcrSpaceApi,
	},
	data(){
		return {
			productWeightFact: 100,
			sugarQuantity: 48,
			newProductWeight: 85,
			answer: 0,
			lines: [],
			sugarInGrams: 0,
			loading: false
		}
	},
	mounted(){

	},
	methods:{
		upload(event){
			this.loading = true;
			var formData = new FormData();
			let file = event.target.files[0]
			formData.append("file", file);
			formData.append("url", text);
			formData.append("language"   , "eng");
			formData.append("apikey"  , "c3cb184fff88957");
			formData.append("isOverlayRequired", true);
			formData.append('isTable', true);

			axios({
			  	method: 'post', //you can set what request you want to be
			  	url: 'https://api.ocr.space/parse/image',
			  	data: formData,
			  	dataType: 'json',
			  	isTable: true
			}).then((response)=>{
				this.loading = false;
				// console.log(response.data.ParsedResults[0].ParsedText);
				var example = response.data.ParsedResults[0].ParsedText;
				example = example.replace( /\n/g, " " ).split( " " )
				var words = [];
				example.forEach((line, index)=>{
					words.push(line.replace(/\s/g, ""));
				})
				words.map((x, index)=>{
					if (x.includes("sugars")) {
						this.sugarInGrams = parseFloat(words[index+1]);
						console.log(this.sugarInGrams);
						return true;
					}
					if (x == "Sugars" || x == "sugars") {
						var sugarAmount = words[index+1];
						this.sugarInGrams = parseInt(sugarAmount.replace("g", ""));
						console.log(this.sugarInGrams);
						return true;
					}
				});
				this.calculate(this.sugarInGrams);
				// this.lines = response.data.ParsedResults[0].TextOverlay.Lines;
				// // console.log(this.lines);
				// this.lines.forEach((line, index)=>{
				// 	line.Words.forEach((word, i) => {
				// 		console.log("Word: "+word.WordText+ " :index: "+index);
				// 	});
				// });
				// console.log(response.data);
			}).catch((e)=>{
				console.log(e);
			})
		},
		calculate(sugarInGrams){
			this.answer = (sugarInGrams/ this.productWeightFact) * this.newProductWeight;
			var discount = this.answer;
			this.answer = parseFloat(discount.toFixed(2));
		},
	}
}
</script>

<style scoped>
	.input-group-text{
		background-color: transparent !important;
		border: 0px solid;
	}
</style>
