<template>
  <div class="about">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" v-for="item, index in items" style="margin-bottom: 15px;">
                  <div class="card-body" style="display: flex;">
                    <div style="width: 100%">
                        <div style="width: 100%">
                            <span style="font-size: 1.5em; font-weight: bold;">{{item.key}} </span>
                        </div>
                        <div>
                            <span>Weight: {{item.value.newProductWeight}} g</span><br>
                            <span>Sugar: {{item.value.answer}} g | {{sugarPercentage(item)}}%</span>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-danger btn-sm" @click="removeItem(item, index)">Delete</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
    export default {
        data(){
            return {
                items: []
            }
        },
        mounted(){
            this.$vlf.createInstance({
                storeName: 'items'
            }).then((store) => {
                store.iterate((value, key, num) => {
                    let result = {"key":key, value};
                    this.items.push(result);
                });
            }).then(()=>{
                // this.items.reverse();
            })
        },
        methods:{
            sugarPercentage(item){
                let result = (item.value.answer * 100) / item.value.newProductWeight;
                return parseFloat(result.toFixed(2));
            },
            removeItem(item,index){
                this.$vlf.createInstance({
                    storeName: 'items'
                }).then((store) => {
                    store.removeItem(item.key).then(()=>{
                        this.items.splice(index, 1);
                    })
                })
            }
        }
    }
</script>
