<template>
    <div class="save-component">
        <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Save the result</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group text-left">
                        <label for="usr">Product name:</label>
                        <input type="text" class="form-control" v-model="productName">
                    </div>
                    <input type="file" accept="image/*;capture=camera">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal" @click="save()">Save</button>
                </div>

              </div>
            </div>
          </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Save
        </button>
        <div class="alert alert-danger" v-if="alertBox" style="margin-top: 15px">
            <strong>Danger!</strong> The answer seems to be 0. It needs to be a positive number to be saved.
        </div>
    </div>
</template>

<script>
    export default {
        props: ['answer','productWeightFact','sugarQuantity', 'newProductWeight'],
        data(){
            return{
                productName: "",
                alertBox: false
            }
        },
        methods:{
            save(){
                if (this.answer == 0) {
                    this.alertBox = true;
                }else{
                    this.alertBox = false;
                    let itemDetail = {
                        answer: this.answer,
                        productWeightFact: this.productWeightFact,
                        sugarQuantity: this.sugarQuantity,
                        newProductWeight: this.newProductWeight
                    }

                    this.$vlf.createInstance({
                        storeName: 'items'
                    }).then((store) => {
                        store.setItem(this.productName, itemDetail);
                        store.length().then((keys) => {
                            console.log(keys)
                        })
                        store.iterate((value, key, num) => {
                            return [key, value]
                        }).then((result) => {
                        })
                    })
                }
            }
        }
    }
</script>
